.seccionPeliSerie{
    width: 100%;
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: fit-content;
    border-radius: 10px;
    background-color: #1c1c1c88;
    margin: 10px;
    padding-bottom: 10px;
    align-items: flex-end;
}

.linkadetalle{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background-color: #2C5364;
    padding: 3px;
    border-radius: 10px;
    width: 80px;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin: 10px;
    text-decoration: none;
}